    <!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    </head>
    <body>
    	<div th:replace="fragments/header :: header">
    		<h1> THIS IS A DEFAULT HEADER</h1>
    	</div>
    	<div>
    		<img th:src="${food.imgUrl}" alt="">

    		<h3 th:utext="${food.name}">...</h3>

    		<h5 th:text="'Region:  '+${food.region}">...</h5>
    		<h5 th:text="'Taste:  '+${food.taste}">...</h5>
    		<h5 th:text="'Cost:  '+${food.cost}">...</h5>
    	</div>
    </body>
    </html>
